# 和风天气 API（基础天气服务）
# 在 https://console.qweather.com 创建项目获取 Key
# 在 https://console.qweather.com/setting 查看你的 API Host
QWEATHER_API_HOST=jj5b65qd45.re.qweatherapi.com
QWEATHER_KEY_ID=KG5A6KWG3J
QWEATHER_PROJECT_ID=4D2EBTCYM9
QWEATHER_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMC4CAQAwBQYDK2VwBCIEIJmY8w0cavOKH7NFH+Rl3k6OLDDv8I4XHg13j5RoRmNY\n-----END PRIVATE KEY-----"