# 和风天气 API（基础天气服务）
# 在 https://console.qweather.com 创建项目获取 Key
# 在 https://console.qweather.com/setting 查看你的 API Host
QWEATHER_API_HOST=jj5b65qd45.re.qweatherapi.com
QWEATHER_KEY_ID=KAB6R4T8GJ
QWEATHER_PROJECT_ID=3G2D4R7KCK
QWEATHER_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMC4CAQAwBQYDK2VwBCIEIJuiHfvccUoM8ejYwy5lX5zK5afaeQUEwDoU3EVq+KeX\n-----END PRIVATE KEY-----"